@use './variables' as *;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  font-family: $font-family-base;
  background: #eef3f5;
  color: #1c1c1c;
  -webkit-font-smoothing: antialiased;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

button {
  font-family: inherit;
}